#chart_Ptask{

    width:900px;
    height:300px;
    position: absolute;
    top: 0px;
    left:100px;
}
#chart_physic{

    width:900px;
    height:300px;
    position: absolute;
    top: 310px;
    left:100px;
}
#chart_Powers{

    width:900px;
    height:300px;
    position: absolute;
    top: 610px;
    left:100px;
}
#chart_storage{

    width:900px;
    height:300px;
    position: absolute;
    top: 910px;
    left:100px;
}
#chart_harvested{

    width:900px;
    height:300px;
    position: absolute;
    top: 1210px;
    left:100px;
}